body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

body > div {
    padding: 0 128px;
}

.header,
.footer {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 64px;
}

.header {
    justify-content: space-between;
}

.header-links {
    display: flex;
}

.footer {
    justify-content: center;
}

.container {
    display: flex;
    flex: 1;
    align-items: center;
}

.img-hero {
    width: 800px;
    height: 150px;
    background-color: lightgray;
}

.list-clean {
    list-style-type: none;
    padding-left: 0;
}

.header-links a {
    text-decoration: none;
    color: white;
    margin: 0 8px;
}