body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    font-family: Roboto, sans-serif;
}

body > div {
    padding: 0 128px;
}

.header,
.footer {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 64px;
}

.header {
    justify-content: space-between;
}

.header-links {
    display: flex;
}

.footer {
    justify-content: center;
}

.list-clean {
    list-style-type: none;
    padding-left: 0;
}

.img-hero {
    width: 850px;
    height: 150px;
    background-color: hsl(0, 0%, 83%, 60%);
}

.img-captions {
    display: flex;
    justify-content: space-between;
}

.img-captions li {
    width: 100px;
}

.header-links a {
    text-decoration: none;
    color: white;
    margin: 0 8px;
}

h1 {
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 900;
}

.contents {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

/* content section 1*/
.cs1 {
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    height: 300px;
}

.cs2 {
    flex-direction: column;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 6px 24px;
    border-radius: 6px;
    border-style: none;
    font-weight: bold;
}