body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    font-family: Roboto, sans-serif;
    margin: 0;
}

body > div {
    padding: 0 200px;
}

.header,
.footer {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.header {
    justify-content: space-between;
    height: 64px;
}

.header-links {
    display: flex;
}

.footer {
    justify-content: center;
    height: 128px;
}

.list-clean {
    list-style-type: none;
    padding-left: 0;
}

.img-hero {
    width: 50%;
    height: 100%;
    background-color: hsl(0, 0%, 83%, 60%);
}

.img-captions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.img-captions li {
    display: flex;
    flex-direction: column;
    width: 160px;
}

.img-captions a {
    border: 4px solid #3882f6;
    border-radius: 12px;
    height: 160px;
}

.header-links a {
    text-decoration: none;
    color: white;
    margin: 0 8px;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

.contents {
    display: flex;
    align-items: center;
    padding: 64px 200px;
    justify-content: center;
}

/* content section 1*/
.cs1 {
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    gap: 32px;
    height: 300px;
}

.cs1 div {
    width: 50%;
    align-self: flex-start;
}

.cs2 {
    flex-direction: column;
    color: #1F2937;
}

.cs3 {
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 64px 310px;
}

.cs3 p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 0;
}

.cs3 div {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    margin-right: 64px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 6px 24px;
    border-radius: 6px;
    border-style: none;
    font-weight: bold;
}